<settings>
    
    <servers>
        <server>
            <id>nextwork-nextwork-devops-cicd</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>nextwork-nextwork-devops-cicd</id>
            <activation>
            <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
            <repository>
                <id>nextwork-nextwork-devops-cicd</id>
                <url>https://nextwork-116981765903.d.codeartifact.eu-central-1.amazonaws.com/maven/nextwork-devops-cicd/</url>
            </repository>
            </repositories>
        </profile>
    </profiles>

    <mirrors>
        <mirror>
            <id>nextwork-nextwork-devops-cicd</id>
            <name>nextwork-nextwork-devops-cicd</name>
            <url>https://nextwork-116981765903.d.codeartifact.eu-central-1.amazonaws.com/maven/nextwork-devops-cicd/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    
</settings>
